html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 40px;
}

.errors {
  padding-left: 20px;
  color: red;
}

.submit {
   text-align: right;
}

.header {
    float: right; 
    background-color: white; 
    margin: 0px 5px 0 5px;
    width: 300px;
}

.sidebar {
    float: right; 
    background-color: white; 
    margin: 0px 5px 0 5px;
    width: 300px;
}

.content {
    z-index: 1;
    margin: 7px 5px 0px 5px;
}